<div class="card-container" *ngIf="user">
    <h3>User Profile</h3>
    <div class="image-container">
        <div class="image">image</div>
    </div>
    <div class="details">
        <p>UserId: <span>{{user.id}}</span></p>
        <p>Username: <span>{{user.username}}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
    </div>
    <div class="actions">
        <button class="edit">
            <a [routerLink]="['/profile', user.id, 'edit']">Edit profile</a>
        </button>
        <button class="delete" (click)="onDelete(user.id)">Delete account</button>
    </div>
</div>
<div *ngIf="!user">
    <h2>Please login...</h2>
</div>